section {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.homepage-return {
  margin-top: 20px;
}
